
###> app/framework-bundle ###
/app/.env.local
/app/.env.local.php
/app/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
/app/var/
/app/vendor/
###< app/framework-bundle ###

###> app/phpunit-bridge ###
/app.phpunit.result.cache
/app/phpunit.xml
###< app/phpunit-bridge ###

